[Unit]
Description=data_disk
After=google-instance-setup.service
Before=scylla-server.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "\
    mkdir -p /mnt/disks/data;\
    if ! mount -o discard,defaults /dev/disk/by-id/google-data /mnt/disks/data; then \
        mkfs.xfs -f -q /dev/disk/by-id/google-data;\
        mount -o discard,defaults /dev/disk/by-id/google-data /mnt/disks/data;\
        mkdir -p /mnt/disks/data/scylla/data /mnt/disks/data/scylla/commitlog;\
        chown -R scylla:scylla /mnt/disks/data/scylla;\
        scylla_io_setup;\
    fi;\
    grep SEASTAR /etc/scylla.d/io.conf | grep -q 'max-io-requests=1' && scylla_io_setup"
    
[Install]
WantedBy=multi-user.target