[Unit]
Description=scylla-settings
After=data_disk.service
Before=scylla-server.service consul.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/scylla-settings.sh
    
[Install]
WantedBy=multi-user.target