[Unit]
Description=scylla-settings
After=data-disk.service
Before=scylla-manager-agent.service scylla-server.service consul.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/scylla-settings.sh

[Install]
WantedBy=multi-user.target
